__pycache__/
.venv/
venv/
config.py
*.session*
*.txt
.env
tes*
*_cache
GenCovers/
!requirements.txt
!test.py


logs
*.log
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?